.container {
  background: #fff;
  width: 100%;
}
body{
  font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

.post{
  display: flex;
  
}
.pif{
  color: black;
  margin-left: -100%;
  margin-top: 10px;
}



.gal  img{
  width: 40px;
  height: 40px;
}
.gal p{
  margin-top: 10px;
  margin-right: 20px;
   text-align: center;
}
.gal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
img{
  margin-right: 20px;
  border-radius: 70%;
}
.position{
  color: black;
 text-align: center;
 

}

.form-control{
 width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .gal img {
    width: 30px; 
    height: 30px;
  }

  .gal p {
    margin-right: 10px; 
  }

  .fs {
    margin-right: 10px; 
    font-size: large; 
  }
  .pif{
    color: black;
    margin-left: 100%;
    margin-top: 10px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}

@media (max-width: 767px) {
  .die {
    display: flex; 
  }

  .position{
    position: static; 
    margin-top: 10px;  
  }

  .die input {
    margin-top: 10px; /* Ajouter un espacement en haut pour l'entrée sur des écrans plus petits */
  }
}
